{% extends "base.html" %}

{% block content %}
<h1>Bonjour</h1>
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Primary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <p>Salut Salut Salut !!!!</p>
    </div>
{% endblock %}