#addItem {
    width: 30rem;
    border: 1px solid lightslategray;
    border-radius: 5px;
    padding:5px;
}

.badge-perso {
    background-color: darkblue;
    height:fit-content
}

.badge-famille {
    background-color: darkgray;
    height:fit-content
}

.badge-travail {
    background-color: darkred;
    height:fit-content
}